button {
    background-color: #bf00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  table {
    border-collapse: collapse;
    width: 45%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  